@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #0f0f0f;
    --text-color: #ffffff;
    --accent-color: #9964e7ff;
    --button-bg: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Anybody', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2rem;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.main-image {
    width: 100%;
    display: block;
}

.bevel-button {
    display: inline-flex;
    padding: 0.8rem 1.2rem;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    gap: 0.75rem;

    clip-path: polygon(
        0% 0%, 
        calc(100% - 10px) 0%, 
        100% 10px, 
        100% 100%, 
        0% 100%
    );
}

.bevel-button:hover {
    
    color: black;
    background-color: #e7a764ff;
    transform: translateY(-3px);
}

.bevel-button:active {
    scale: 95%;
}